{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %} 
{% block body_class %}template-homepage{% endblock %} 

{% block content %}
<section class="bg-blue-300 py-32">
  <div class="container mx-auto px-8">
    <div class="block md:flex gap-4">
      <div class="flex-1">
        <h1 class="text-4xl lg:text-6xl text-gray-900 font-bold">
          Providing your business with professionally designed websites, for
          free.
        </h1>
        <button class="btn bg-white text-gray-900 mt-8 lg:text-xl">
          <a href="{% pageurl page.cta_link %}">{{ page.cta_text }}</a>
        </button>
      </div>
      <div class="flex-1 max-w-xl">
        <img class="pt-10 md:pt-0" src="{% static 'your_company_here.png' %}" alt="Laptop" />
      </div>
    </div>
  </div>
</section>

<section class="pt-12 pb-8">
  <div class="container mx-auto max-w-screen-xl">
    <div class="text-center">
      <h1 class="text-5xl font-bold">Who We Are</h1>
      <p class="pt-4 text-xl text-gray-700">Coding for a Cause was started to develop students' skills and teach the marketable technology in the world of Computer Science with a goal of being able to give back to our communities. We start by teaching our members the basics - HTML, CSS, and JavaScript - and move onto more advanced topics like web frameworks, HTTP protocols, and modern web paradigms.</p>
    </div>
    <div class="pt-16 grid grid-cols-2 gap-x-4 gap-y-8">
      <div class="card">
        <h3 class="card-title">Giving Back</h3>
        <p class="card-subtitle">We work with local businesses and not-for-profits to help build them intuitively designed and responsive websites for free. Turning a business idea into a reality can be expensive, we want to help reduce the staggering costs of website fees.</p>
      </div>
      <div class="card">
        <h3 class="card-title">Student Ran</h3>
        <p class="card-subtitle">Our club is lead by High School students and taught for High School students. The club is a great opportunity for students who know a lot to pass on their skills and for apsiring developers to get free educational content.</p>
      </div>
      <div class="card">
        <h3 class="card-title">Team Enviroment</h3>
        <p class="card-subtitle">We like to teach our lessons with a focus on teaching the appropraite technology for an upcoming project. Working in a team on a coding project nurtures good team and project management skills that are useful for any industry.</p>
      </div>
      <div class="card">
        <h3 class="card-title">Teaching the Modern Web</h3>
        <p class="card-subtitle">We teach our students modern and highly utilized web frameworks. Our prefered stack is MongoDB, Express, Vue, and Node.js but we've also touched on topics like React, Django, and Flask.</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
