{% extends "base.html" %} 
{% load wagtailcore_tags %} 

{% block content %}
<div class="container max-w-screen-xl mx-auto text-center">
  <h2 class="text-5xl font-bold">{{ page.title }}</h2>
  <div class="prose-xl">
      {{ page.intro | richtext }}
  </div>
  <form action="{% pageurl page %}" method="POST" class="contact-form text-left">
    {% csrf_token %} {% for field in form %}
    <div class="field-wrapper mb-4">
      {{ field.errors }}
      <p>{{ field.label_tag }}</p>
      {{ field}}
      <small>{{ field.help_text }}</small>
    </div>
    {% endfor %}
    <button type="submit" class="btn bg-white border border-gray-200 text-black">Submit</button>
  </form>
</div>
{% endblock %}
